body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../public/cover.png');
  background-size: cover;
  filter: blur(5px); 
  z-index: -1; 
}

@media (max-width: 768px) {
  body {
      background-repeat: no-repeat;
      background-attachment: fixed; 
      background-size: cover;
  }
}


.bubble {

  animation: fadeInLeft 1s ease;
}

@keyframes fadeInLeft {
  from {
      opacity: 0;
      transform: translateX(-20px);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}

#home, #about {
  min-height: 100vh; 
}

.section {
  padding-top: 100px; /* Adjust this value based on your navbar height */
}
